.projects {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &-title {
    padding-top: 90px;
    display: flex;
    margin: 0;
    width: 410px;
    height: 46px;
    flex-direction: column;
    color: var(--text-dark, #fff);
    font-family: JetBrains Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 1440px;
    flex-direction: column;
    align-items: flex-start;

    &-list {
      flex-wrap: wrap;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
      list-style-type: none;

      &:hover > &-item:not(:hover) &-item-background {
        filter: brightness(0.5) saturate(0.5) contrast(1.6) blur(10px);
      }

      &-item {
        list-style: none;
        position: relative;
        display: flex;
        width: 405px;
        height: 405px;
        flex-direction: column;
        align-items: center;
        border-radius: 14px;
        border: 2px solid #fffbfb6c;
        box-shadow: 9px 5px 13px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;

        &:before {
          display: block;
          padding-bottom: 150%;
          width: 100%;
        }

        &:hover &-background {
          transform: scale(1.05) translateZ(0);
        }

        &-content {
          left: 0;
          padding: 24px;
          position: absolute;
          top: 0;
        }

        &-category {
          color: #fefefe;
          font-size: 18px;
          margin-bottom: 8px;
          text-transform: uppercase;
        }

        &-heading {
          color: #fefefe;
          font-size: 42px;
          text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
          line-height: 1.4;
        }

        &-background {
          background-size: cover;
          background-position: center;
          bottom: 0;
          filter: brightness(0.75) saturate(1.2) contrast(0.85);
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          transform-origin: center;
          transition: filter 200ms linear, transform 200ms linear;
        }

        &-link {
          cursor: pointer;
          text-decoration: none;
          border: none;
          margin: 0;
          padding: 0;
        }

        &-image {
          width: 405px;
          height: 240px;
          flex-shrink: 0;
          object-fit: fill;
          overflow: hidden;
          transition: all 0.1s ease-in-out;
        }

        &-description {
          height: 66px;
          display: flex;
          align-items: center;
          background: var(--background-dark, #020c18);
          justify-content: center;
          transition: all 0.3s ease-in-out;
        }

        &-description:hover {
          animation: pulse 1s infinite;
        }

        &-name {
          margin: 0;
          display: flex;
          width: 179px;
          height: 66px;
          align-items: center;
          gap: 8px;
          color: var(--background-light, #fff);
          font-family: JetBrains Mono;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0.066px;
          justify-content: center;
        }
        &-about {
          margin: 0;
          display: flex;
          width: 230px;
          height: 66px;
          justify-content: center;
          align-items: center;
          gap: 16px;
          color: var(--background-light, #fff);
          font-family: JetBrains Mono;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: 0.048px;
          justify-content: center;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
