@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #2D3137;
  --primary: #78C2DD;
  --gray: #BBC3D3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2D3137;
    --primary: #78C2DD;
    --gray: #BBC3D3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
