@import "tailwindcss";

:root {
  --background: #2D3137;
  --primary: #78C2DD;
  --gray: #BBC3D3;
  --font-fira-code: var(--font-geist-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2D3137;
    --primary: #78C2DD;
    --gray: #BBC3D3;
    --font-fira-code: var(--font-geist-fira-code);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fira-code), Arial, Helvetica, sans-serif;
  position: relative;
}
